version: '3.8'

services:
  api:
    build: .
    container_name: nest-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: node dist/main.js